[submodule "lib/discovery"]
	path = lib/discovery
	url = git@github.com:rranshous/discovery.git
[submodule "lib/scraper"]
	path = lib/scraper
	url = git@github.com:rranshous/scraper.git
[submodule "lib/requester"]
	path = lib/requester
	url = git@github.com:rranshous/requester.git
[submodule "lib/thread_utils"]
	path = lib/thread_utils
	url = git@github.com:rranshous/thread_utils.git
